@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black antialiased;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .heading-green {
    @apply text-blue-600;
  }
  
  .border-clean {
    @apply border border-gray-200;
  }
}
